body {
    display: grid;
    grid-gap: 1em;
}

header, footer {
    border-radius: 5px;
    padding: 10px;
    background-color: black;
    color: whitesmoke;
    text-align: center;
}

aside {
    border-right: 1px solid white;
}